<a href="https://colab.research.google.com/github/DrMelissaFranklin/DrMelissaFranklin/blob/main/Mel_SQL_1_Chinook_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project SQL - Chinook

ERD for the dataset
https://www.sqlitetutorial.net/wp-content/uploads/2018/03/sqlite-sample-database-diagram-color.pdf

Symbols to interpret the ERD:
https://d2slcw3kip6qmk.cloudfront.net/marketing/pages/chart/erd-symbols/ERD-Notation.PNG

Make my own ERD for my questions:
https://app.diagrams.net/

## Chinook data set

See the lecture on SQLite3 using the Chinook data set to set up the software, database, and tables, as well as for the links to ancillary information about the data set.

In [1]:
# Install the sqlite package for Ubuntu

%%capture
%%bash
apt-get update
apt-get install -y sqlite3

sqlite3 --help
sqlite3 --version

In [2]:
# Download the Chinook sqlite database
%%bash
[ -f chinook.zip ] ||
  curl -s -O https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
unzip -l chinook.zip

Archive:  chinook.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
   884736  2015-11-29 10:53   chinook.db
---------                     -------
   884736                     1 file

In [3]:
!unzip -u chinook.zip # unzip the Chinook sqlite database

Archive:  chinook.zip
  inflating: chinook.db

#Use SQL queries to pull specific information

###Do NOT pull all the data and then filter using DataFrame methods etc. Make sure and use AT LEAST 13 of the 15 SQL options listed below. (You may have to get creative and come up with more questions to ask/answer.)

In [4]:
# Quick reference guide to all magics
%quickref

In [5]:
# List all line and cell magics available, and status of magics
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %shell  %store  %sx  %system  %tb  %tensorflow_version  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%bigquery  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%shell  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [6]:
# !: shell commends in Colab; ls: list dir; -l: long list format; a: includes hidden files
# --Returns 1180 kb as the size of the database file

!ls -la

total 1180
drwxr-xr-x 1 root root   4096 Oct 27 19:53 .
drwxr-xr-x 1 root root   4096 Oct 27 19:50 ..
-rw-r--r-- 1 root root 884736 Nov 29  2015 chinook.db
-rw-r--r-- 1 root root 305596 Oct 27 19:53 chinook.zip
drwxr-xr-x 4 root root   4096 Oct 24 13:20 .config
drwxr-xr-x 1 root root   4096 Oct 24 13:20 sample_data

In [7]:
# Names of tables in the database
%%script sqlite3 --column --header chinook.db
.tables

albums          employees       invoices        playlists
artists         genres          media_types     tracks
customers       invoice_items   playlist_track

In [8]:
# Schemas for the entire database.
# Schema: the structure of the database, including tables and column names, data types, and relationships.
#Foreign keys are hidden keys.

%%script sqlite3 --column --header chinook.db
.schema

CREATE TABLE IF NOT EXISTS "albums"
(
    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Title] NVARCHAR(160)  NOT NULL,
    [ArtistId] INTEGER  NOT NULL,
    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "artists"
(
    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "customers"
(
    [CustomerId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [FirstName] NVARCHAR(40)  NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [Company] NVARCHAR(80),
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60)  NOT NULL,
    [SupportRepId] INTEGER,
    FOREIGN KEY ([SupportRepId]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "employees"
(
    [EmployeeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [FirstName] NVARCHAR(20)  NOT NULL,
    [Title] NVARCHAR(30),
    [ReportsTo] INTEGER,
    [BirthDate] DATETIME,
    [HireDate] DATETIME,
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60),
    FOREIGN KEY ([ReportsTo]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "genres"
(
    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "invoices"
(
    [InvoiceId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [CustomerId] INTEGER  NOT NULL,
    [InvoiceDate] DATETIME  NOT NULL,
    [BillingAddress] NVARCHAR(70),
    [BillingCity] NVARCHAR(40),
    [BillingState] NVARCHAR(40),
    [BillingCountry] NVARCHAR(40),
    [BillingPostalCode] NVARCHAR(10),
    [Total] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([CustomerId]) REFERENCES "customers" ([CustomerId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "invoice_items"
(
    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [InvoiceId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    [Quantity] INTEGER  NOT NULL,
    FOREIGN KEY ([InvoiceId]) REFERENCES "invoices" ([InvoiceId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "media_types"
(
    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "playlists"
(
    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "playlist_track"
(
    [PlaylistId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    CONSTRAINT [PK_PlaylistTrack] PRIMARY KEY  ([PlaylistId], [TrackId]),
    FOREIGN KEY ([PlaylistId]) REFERENCES "playlists" ([PlaylistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "tracks"
(
    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(200)  NOT NULL,
    [AlbumId] INTEGER,
    [MediaTypeId] INTEGER  NOT NULL,
    [GenreId] INTEGER,
    [Composer] NVARCHAR(220),
    [Milliseconds] INTEGER  NOT NULL,
    [Bytes] INTEGER,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([AlbumId]) REFERENCES "albums" ([AlbumId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([GenreId]) REFERENCES "genres" ([GenreId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE INDEX [IFK_AlbumArtistId] ON "albums" ([ArtistId]);
CREATE INDEX [IFK_CustomerSupportRepId] ON "customers" ([SupportRepId]);
CREATE INDEX [IFK_EmployeeReportsTo] ON "employees" ([ReportsTo]);
CREATE INDEX [IFK_InvoiceCustomerId] ON "invoices" ([CustomerId]);
CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "invoice_items" ([InvoiceId]);
CREATE INDEX [IFK_InvoiceLineTrackId] ON "invoice_items" ([TrackId]);
CREATE INDEX [IFK_PlaylistTrackTrackId] ON "playlist_track" ([TrackId]);
CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([AlbumId]);
CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([GenreId]);
CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks" ([MediaTypeId]);
CREATE TABLE sqlite_stat1(tbl,idx,stat);

In [9]:
# Count the number of unique albums
%%script sqlite3 --column --header chinook.db
select count(distinct AlbumID)
from tracks

count(distinct AlbumID)
-----------------------
347

In [10]:
# Select the first 10 entries from the albums table
%%script sqlite3 --column --header chinook.db
select *
from albums
limit 10

AlbumId  Title                                  ArtistId
-------  -------------------------------------  --------
1        For Those About To Rock We Salute You  1
2        Balls to the Wall                      2
3        Restless and Wild                      2
4        Let There Be Rock                      1
5        Big Ones                               3
6        Jagged Little Pill                     4
7        Facelift                               5
8        Warner 25 Anos                         6
9        Plays Metallica By Four Cellos         7
10       Audioslave                             8

In [11]:
# Select the first 10 entries from the artists table
%%script sqlite3 --column --header chinook.db
select *
from artists
limit 10

ArtistId  Name
--------  --------------------
1         AC/DC
2         Accept
3         Aerosmith
4         Alanis Morissette
5         Alice In Chains
6         Antônio Carlos Jobim
7         Apocalyptica
8         Audioslave
9         BackBeat
10        Billy Cobham

In [12]:
# Select the first 10 entries from joining the artists and albums tables
%%script sqlite3 --column --header chinook.db
select *
from artists
join albums
on artists.ArtistID = albums.ArtistID
limit 10

ArtistId  Name                  AlbumId  Title                                  ArtistId
--------  --------------------  -------  -------------------------------------  --------
1         AC/DC                 1        For Those About To Rock We Salute You  1
2         Accept                2        Balls to the Wall                      2
2         Accept                3        Restless and Wild                      2
1         AC/DC                 4        Let There Be Rock                      1
3         Aerosmith             5        Big Ones                               3
4         Alanis Morissette     6        Jagged Little Pill                     4
5         Alice In Chains       7        Facelift                               5
6         Antônio Carlos Jobim  8        Warner 25 Anos                         6
7         Apocalyptica          9        Plays Metallica By Four Cellos         7
8         Audioslave            10       Audioslave                             8

From mod3 lec2d --
 to get the data into SQLite, we will first need to go through a few data wrangling steps:

save the Markdown table to a string
convert the string to HTML
convert the HTML to a DataFrame
convert the DataFrame to a CSV file
import the CSV file into SQLite3
clean up the data in SQLite3, e.g. null values, data types

## Come up with questions about your data
Have a look at the Entity-Relation ( ER ) diagram to help come up with questions.

* What sort of information is in this dataset?
* How many records are there?
* How many different countries (states, counties, cities, etc) have records in this data set?


If you are stuck, here are some ideas for questions:
- https://github.com/LucasMcL/15-sql_queries_02-chinook/blob/master/README.md
- [Using the R language]( https://rpubs.com/enext777/636199 )
- [Search Google]( https://www.google.com/search?q=chinook+database+questions )

# BEGIN MY PROJECT 3:

## Use SQL queries to pull specific information

Do NOT pull all the data and then filter using DataFrame methods etc. Make sure and use AT LEAST 13 of the 15 SQL options listed below. (You may have to get creative and come up with more questions to ask/answer.)

In [13]:
# Quick reference guide to all magics
%quickref

In [14]:
# List all line and cell magics.
# Also show state of Automagic
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %shell  %store  %sx  %system  %tb  %tensorflow_version  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%bigquery  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%shell  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

### Basic Queries

In [15]:
# Schemas for the entire database.
# Schema: the structure of the database, including tables and column names, data types, and relationships.
#Foreign keys are hidden keys.

%%script sqlite3 --column --header chinook.db
.schema

CREATE TABLE IF NOT EXISTS "albums"
(
    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Title] NVARCHAR(160)  NOT NULL,
    [ArtistId] INTEGER  NOT NULL,
    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "artists"
(
    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "customers"
(
    [CustomerId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [FirstName] NVARCHAR(40)  NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [Company] NVARCHAR(80),
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60)  NOT NULL,
    [SupportRepId] INTEGER,
    FOREIGN KEY ([SupportRepId]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "employees"
(
    [EmployeeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [FirstName] NVARCHAR(20)  NOT NULL,
    [Title] NVARCHAR(30),
    [ReportsTo] INTEGER,
    [BirthDate] DATETIME,
    [HireDate] DATETIME,
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60),
    FOREIGN KEY ([ReportsTo]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "genres"
(
    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "invoices"
(
    [InvoiceId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [CustomerId] INTEGER  NOT NULL,
    [InvoiceDate] DATETIME  NOT NULL,
    [BillingAddress] NVARCHAR(70),
    [BillingCity] NVARCHAR(40),
    [BillingState] NVARCHAR(40),
    [BillingCountry] NVARCHAR(40),
    [BillingPostalCode] NVARCHAR(10),
    [Total] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([CustomerId]) REFERENCES "customers" ([CustomerId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "invoice_items"
(
    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [InvoiceId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    [Quantity] INTEGER  NOT NULL,
    FOREIGN KEY ([InvoiceId]) REFERENCES "invoices" ([InvoiceId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "media_types"
(
    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "playlists"
(
    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "playlist_track"
(
    [PlaylistId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    CONSTRAINT [PK_PlaylistTrack] PRIMARY KEY  ([PlaylistId], [TrackId]),
    FOREIGN KEY ([PlaylistId]) REFERENCES "playlists" ([PlaylistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "tracks"
(
    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(200)  NOT NULL,
    [AlbumId] INTEGER,
    [MediaTypeId] INTEGER  NOT NULL,
    [GenreId] INTEGER,
    [Composer] NVARCHAR(220),
    [Milliseconds] INTEGER  NOT NULL,
    [Bytes] INTEGER,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([AlbumId]) REFERENCES "albums" ([AlbumId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([GenreId]) REFERENCES "genres" ([GenreId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE INDEX [IFK_AlbumArtistId] ON "albums" ([ArtistId]);
CREATE INDEX [IFK_CustomerSupportRepId] ON "customers" ([SupportRepId]);
CREATE INDEX [IFK_EmployeeReportsTo] ON "employees" ([ReportsTo]);
CREATE INDEX [IFK_InvoiceCustomerId] ON "invoices" ([CustomerId]);
CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "invoice_items" ([InvoiceId]);
CREATE INDEX [IFK_InvoiceLineTrackId] ON "invoice_items" ([TrackId]);
CREATE INDEX [IFK_PlaylistTrackTrackId] ON "playlist_track" ([TrackId]);
CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([AlbumId]);
CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([GenreId]);
CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks" ([MediaTypeId]);
CREATE TABLE sqlite_stat1(tbl,idx,stat);

In [16]:
# Names of tables in the database
%%script sqlite3 --column --header chinook.db
.tables

albums          employees       invoices        playlists
artists         genres          media_types     tracks
customers       invoice_items   playlist_track

In [17]:
# Print the first 3 row of each table in schema tracks
%%script sqlite3 --column --header chinook.db
SELECT * FROM tracks LIMIT 25;
SELECT * FROM albums LIMIT 25;
SELECT * FROM artists LIMIT 25;
SELECT * FROM customers LIMIT 3;
SELECT * FROM employees LIMIT 3;
SELECT * FROM genres LIMIT 25;
SELECT * FROM invoice_items LIMIT 3;
SELECT * FROM invoices LIMIT 3;
SELECT * FROM media_types LIMIT 10;
SELECT * FROM playlist_track LIMIT 3;
SELECT * FROM playlists LIMIT 3;

TrackId  Name                                     AlbumId  MediaTypeId  GenreId  Composer                                                                Milliseconds  Bytes     UnitPrice
-------  ---------------------------------------  -------  -----------  -------  ----------------------------------------------------------------------  ------------  --------  ---------
1        For Those About To Rock (We Salute You)  1        1            1        Angus Young, Malcolm Young, Brian Johnson                               343719        11170334  0.99
2        Balls to the Wall                        2        2            1                                                                                342562        5510424   0.99
3        Fast As a Shark                          3        2            1        F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman                     230619        3990994   0.99
4        Restless and Wild                        3        2            1        F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman  252051        4331779   0.99
5        Princess of the Dawn                     3        2            1        Deaffy & R.A. Smith-Diesel                                              375418        6290521   0.99
6        Put The Finger On You                    1        1            1        Angus Young, Malcolm Young, Brian Johnson                               205662        6713451   0.99
7        Let's Get It Up                          1        1            1        Angus Young, Malcolm Young, Brian Johnson                               233926        7636561   0.99
8        Inject The Venom                         1        1            1        Angus Young, Malcolm Young, Brian Johnson                               210834        6852860   0.99
9        Snowballed                               1        1            1        Angus Young, Malcolm Young, Brian Johnson                               203102        6599424   0.99
10       Evil Walks                               1        1            1        Angus Young, Malcolm Young, Brian Johnson                               263497        8611245   0.99
11       C.O.D.                                   1        1            1        Angus Young, Malcolm Young, Brian Johnson                               199836        6566314   0.99
12       Breaking The Rules                       1        1            1        Angus Young, Malcolm Young, Brian Johnson                               263288        8596840   0.99
13       Night Of The Long Knives                 1        1            1        Angus Young, Malcolm Young, Brian Johnson                               205688        6706347   0.99
14       Spellbound                               1        1            1        Angus Young, Malcolm Young, Brian Johnson                               270863        8817038   0.99
15       Go Down                                  4        1            1        AC/DC                                                                   331180        10847611  0.99
16       Dog Eat Dog                              4        1            1        AC/DC                                                                   215196        7032162   0.99
17       Let There Be Rock                        4        1            1        AC/DC                                                                   366654        12021261  0.99
18       Bad Boy Boogie                           4        1            1        AC/DC                                                                   267728        8776140   0.99
19       Problem Child                            4        1            1        AC/DC                                                                   325041        10617116  0.99
20       Overdose                                 4        1            1        AC/DC                                                                   369319        12066294  0.99
21       Hell Ain't A Bad Place To Be             4        1            1        AC/DC                                                                   254380        8331286   0.99
22       Whole Lotta Rosie                        4        1            1        AC/DC                                                                   323761        10547154  0.99
23       Walk On Water                            5        1            1        Steven Tyler, Joe Perry, Jack Blades, Tommy Shaw                        295680        9719579   0.99
24       Love In An Elevator                      5        1            1        Steven Tyler, Joe Perry                                                 321828        10552051  0.99
25       Rag Doll                                 5        1            1        Steven Tyler, Joe Perry, Jim Vallance, Holly Knight                     264698        8675345   0.99
AlbumId  Title                                             ArtistId
-------  ------------------------------------------------  --------
1        For Those About To Rock We Salute You             1
2        Balls to the Wall                                 2
3        Restless and Wild                                 2
4        Let There Be Rock                                 1
5        Big Ones                                          3
6        Jagged Little Pill                                4
7        Facelift                                          5
8        Warner 25 Anos                                    6
9        Plays Metallica By Four Cellos                    7
10       Audioslave                                        8
11       Out Of Exile                                      8
12       BackBeat Soundtrack                               9
13       The Best Of Billy Cobham                          10
14       Alcohol Fueled Brewtality Live! [Disc 1]          11
15       Alcohol Fueled Brewtality Live! [Disc 2]          11
16       Black Sabbath                                     12
17       Black Sabbath Vol. 4 (Remaster)                   12
18       Body Count                                        13
19       Chemical Wedding                                  14
20       The Best Of Buddy Guy - The Millenium Collection  15
21       Prenda Minha                                      16
22       Sozinho Remix Ao Vivo                             16
23       Minha Historia                                    17
24       Afrociberdelia                                    18
25       Da Lama Ao Caos                                   18
ArtistId  Name
--------  -------------------------------
1         AC/DC
2         Accept
3         Aerosmith
4         Alanis Morissette
5         Alice In Chains
6         Antônio Carlos Jobim
7         Apocalyptica
8         Audioslave
9         BackBeat
10        Billy Cobham
11        Black Label Society
12        Black Sabbath
13        Body Count
14        Bruce Dickinson
15        Buddy Guy
16        Caetano Veloso
17        Chico Buarque
18        Chico Science & Nação Zumbi
19        Cidade Negra
20        Cláudio Zoli
21        Various Artists
22        Led Zeppelin
23        Frank Zappa & Captain Beefheart
24        Marcos Valle
25        Milton Nascimento & Bebeto
CustomerId  FirstName  LastName   Company                                           Address                          City                 State  Country  PostalCode  Phone               Fax                 Email                  SupportRepId
----------  ---------  ---------  ------------------------------------------------  -------------------------------  -------------------  -----  -------  ----------  ------------------  ------------------  ---------------------  ------------
1           Luís       Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos  SP     Brazil   12227-000   +55 (12) 3923-5555  +55 (12) 3923-5566  luisg@embraer.com.br   3
2           Leonie     Köhler                                                       Theodor-Heuss-Straße 34          Stuttgart                   Germany  70174       +49 0711 2842222                        leonekohler@surfeu.de  5
3           François   Tremblay                                                     1498 rue Bélanger                Montréal             QC     Canada   H2G 1A7     +1 (514) 721-4711                       ftremblay@gmail.com    3
EmployeeId  LastName  FirstName  Title                ReportsTo  BirthDate            HireDate             Address              City      State  Country  PostalCode  Phone              Fax                Email
----------  --------  ---------  -------------------  ---------  -------------------  -------------------  -------------------  --------  -----  -------  ----------  -----------------  -----------------  ----------------------
1           Adams     Andrew     General Manager                 1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW  Edmonton  AB     Canada   T5K 2N1     +1 (780) 428-9482  +1 (780) 428-3457  andrew@chinookcorp.com
2           Edwards   Nancy      Sales Manager        1          1958-12-08 00:00:00  2002-05-01 00:00:00  825 8 Ave SW         Calgary   AB     Canada   T2P 2T3     +1 (403) 262-3443  +1 (403) 262-3322  nancy@chinookcorp.com
3           Peacock   Jane       Sales Support Agent  2          1973-08-29 00:00:00  2002-04-01 00:00:00  1111 6 Ave SW        Calgary   AB     Canada   T2P 5M5     +1 (403) 262-3443  +1 (403) 262-6712  jane@chinookcorp.com
GenreId  Name
-------  ------------------
1        Rock
2        Jazz
3        Metal
4        Alternative & Punk
5        Rock And Roll
6        Blues
7        Latin
8        Reggae
9        Pop
10       Soundtrack
11       Bossa Nova
12       Easy Listening
13       Heavy Metal
14       R&B/Soul
15       Electronica/Dance
16       World
17       Hip Hop/Rap
18       Science Fiction
19       TV Shows
20       Sci Fi & Fantasy
21       Drama
22       Comedy
23       Alternative
24       Classical
25       Opera
InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
-------------  ---------  -------  ---------  --------
1              1          2        0.99       1
2              1          4        0.99       1
3              2          6        0.99       1
InvoiceId  CustomerId  InvoiceDate          BillingAddress           BillingCity  BillingState  BillingCountry  BillingPostalCode  Total
---------  ----------  -------------------  -----------------------  -----------  ------------  --------------  -----------------  -----
1          2           2009-01-01 00:00:00  Theodor-Heuss-Straße 34  Stuttgart                  Germany         70174              1.98
2          4           2009-01-02 00:00:00  Ullevålsveien 14         Oslo                       Norway          0171               3.96
3          8           2009-01-03 00:00:00  Grétrystraat 63          Brussels                   Belgium         1000               5.94
MediaTypeId  Name
-----------  ---------------------------
1            MPEG audio file
2            Protected AAC audio file
3            Protected MPEG-4 video file
4            Purchased AAC audio file
5            AAC audio file
PlaylistId  TrackId
----------  -------
1           3402
1           3389
1           3390
PlaylistId  Name
----------  --------
1           Music
2           Movies
3           TV Shows

#### SELECT (with * and with column names)

In [18]:
# Verify the data
# SELECT COUNT(*) FROM table_name WHERE column_name IS NULL;
%%script sqlite3 --column --header chinook.db
SELECT COUNT(*) FROM genres WHERE GenreId IS NULL;

COUNT(*)
--------
0

In [19]:
# List the genreIDs by name
%%script sqlite3 --column --header chinook.db
SELECT genreID, Name
FROM genres

GenreId  Name
-------  ------------------
1        Rock
2        Jazz
3        Metal
4        Alternative & Punk
5        Rock And Roll
6        Blues
7        Latin
8        Reggae
9        Pop
10       Soundtrack
11       Bossa Nova
12       Easy Listening
13       Heavy Metal
14       R&B/Soul
15       Electronica/Dance
16       World
17       Hip Hop/Rap
18       Science Fiction
19       TV Shows
20       Sci Fi & Fantasy
21       Drama
22       Comedy
23       Alternative
24       Classical
25       Opera

#### WHERE column is = ' '

In [20]:
# Return the 'Rock' item from the genreID column from the genres table
%%script sqlite3 --column --header chinook.db
SELECT genreID, Name
FROM genres
WHERE Name is 'Blues'

GenreId  Name
-------  -----
6        Blues

#### AND

In [21]:
# Using Table 'tracks' find Alanis Morisette as Composer for album 'Jagged Little Pill'
%%script sqlite3 --column --header chinook.db
SELECT AlbumID, Composer
FROM tracks
WHERE Composer = '4'
AND AlbumId = '6'

#### LIKE (with % or _ wildcard)

In [22]:
# Using Table 'tracks' find Alanis Morisette as Composer for album 'Jagged Little Pill'

%%script sqlite3 --column --header chinook.db
SELECT AlbumID, Composer
FROM tracks
WHERE Composer LIKE '%Morisette%'
AND AlbumId LIKE 'Jagged_%'

#### OR

In [23]:
# Return the 'Rock' item from the genreID column from the genres table
%%script sqlite3 --column --header chinook.db
SELECT genreID, Name
FROM genres
WHERE Name = 'Rock'
OR Name = "Rock And Roll";

GenreId  Name
-------  -------------
1        Rock
5        Rock And Roll

#### BETWEEN

In [24]:
%%script sqlite3 --column --header chinook.db
SELECT *
FROM genres
WHERE GenreId BETWEEN 1 AND 6  -- Covers the range including 1, 5, and 6;

GenreId  Name
-------  ------------------
1        Rock
2        Jazz
3        Metal
4        Alternative & Punk
5        Rock And Roll
6        Blues

#### LIMIT

In [25]:
# Select the Sales agents from the employees table
%%script sqlite3 --column --header chinook.db
SELECT Title, FirstName, LastName
FROM employees
WHERE Title = 'Sales Support Agent'
LIMIT 10

Title                FirstName  LastName
-------------------  ---------  --------
Sales Support Agent  Jane       Peacock
Sales Support Agent  Margaret   Park
Sales Support Agent  Steve      Johnson

### Sorting and Grouping

#### GROUP BY

In [29]:
#Group By

%%script sqlite3 --column --header chinook.db
SELECT MediaTypeID, UnitPrice, COUNT(*) AS unit_price_counts
   FROM tracks
   GROUP BY MediaTypeID, UnitPrice
   LIMIT 10

MediaTypeId  UnitPrice  unit_price_counts
-----------  ---------  -----------------
1            0.99       3034
2            0.99       237
3            0.99       1
3            1.99       213
4            0.99       7
5            0.99       11

#### ORDER BY

In [30]:
#Order By - add pragma?

%%script sqlite3 --column --header chinook.db
SELECT MediaTypeID, UnitPrice, COUNT(*) AS unit_price_counts
   FROM tracks
   GROUP BY MediaTypeID, UnitPrice
   ORDER BY unit_price_counts DESC
   LIMIT 10

MediaTypeId  UnitPrice  unit_price_counts
-----------  ---------  -----------------
1            0.99       3034
2            0.99       237
3            1.99       213
5            0.99       11
4            0.99       7
3            0.99       1

#### DISTINCT

In [33]:
#Distinct track titles, counted

%%script sqlite3 --column --header chinook.db

SELECT DISTINCT TrackID, Count(*) AS playlist_track_counts
FROM playlist_track
GROUP BY TrackID
ORDER BY playlist_track_counts DESC
LIMIT 10

TrackId  playlist_track_counts
-------  ---------------------
3403     5
3404     5
3408     5
3409     5
3410     5
3411     5
3415     5
3416     5
3417     5
3418     5

### Aggregates

#### MAX
SELECT MAX(column_name)
FROM table_name
WHERE condition / GROUP BY ;

In [36]:
#JOIN tables, Invoice_Items (to get UnitPrice) & Tracks (to get songs) & Invoices (to get dates), to find the MAX for the top 10 tracks (songs) with the highest sales on what date?

%%script sqlite3 --column --header chinook.db
SELECT
    t.Name AS TrackName,  -- Get the track name
    MAX(ii.UnitPrice * ii.Quantity) AS MaxSale,  -- Calculate the maximum sale for each track
    i.InvoiceDate  -- Get the invoice date
FROM invoice_items ii
JOIN tracks t ON ii.TrackId = t.TrackId  -- Join with tracks table
JOIN invoices i ON ii.InvoiceId = i.InvoiceId  -- Join with invoices table to get date
GROUP BY t.TrackId  -- Group by track
ORDER BY MaxSale DESC  -- Order by maximum sale in descending order
LIMIT 10;  -- Get the top 10

TrackName               MaxSale  InvoiceDate
----------------------  -------  -------------------
Occupation / Precipice  1.99     2010-01-10 00:00:00
Exodus, Pt. 1           1.99     2011-04-23 00:00:00
Exodus, Pt. 2           1.99     2012-07-31 00:00:00
Collaborators           1.99     2013-11-13 00:00:00
Hero                    1.99     2010-01-13 00:00:00
Unfinished Business     1.99     2011-04-23 00:00:00
The Passage             1.99     2012-07-31 00:00:00
The Woman King          1.99     2010-01-13 00:00:00
A Day In the Life       1.99     2011-04-23 00:00:00
Crossroads, Pt. 1       1.99     2012-08-05 00:00:00

#### MIN

In [39]:
#JOIN tables, Invoice_Items (to get UnitPrice) & Tracks (to get songs) & Invoices (to get dates), to find the MIN for the top 10 tracks (songs) with the highest sales on what date?

%%script sqlite3 --column --header chinook.db
SELECT
    t.Name AS TrackName,  -- Get the track name
    MAX(ii.UnitPrice * ii.Quantity) AS MaxSale,  -- Calculate the maximum sale for each track
    i.InvoiceDate  -- Get the invoice date
FROM invoice_items ii
JOIN tracks t ON ii.TrackId = t.TrackId  -- Join with tracks table
JOIN invoices i ON ii.InvoiceId = i.InvoiceId  -- Join with invoices table to get date
GROUP BY t.TrackId  -- Group by track
ORDER BY MaxSale DESC  -- Order by maximum sale in descending order
LIMIT 10;  -- Get the top 10

TrackName               MaxSale  InvoiceDate
----------------------  -------  -------------------
Occupation / Precipice  1.99     2010-01-10 00:00:00
Exodus, Pt. 1           1.99     2011-04-23 00:00:00
Exodus, Pt. 2           1.99     2012-07-31 00:00:00
Collaborators           1.99     2013-11-13 00:00:00
Hero                    1.99     2010-01-13 00:00:00
Unfinished Business     1.99     2011-04-23 00:00:00
The Passage             1.99     2012-07-31 00:00:00
The Woman King          1.99     2010-01-13 00:00:00
A Day In the Life       1.99     2011-04-23 00:00:00
Crossroads, Pt. 1       1.99     2012-08-05 00:00:00

#### SUM

In [42]:
#JOIN tables, Invoice_Items & Tracks, to find the top 10 tracks (songs) with the highest cumulative sales

%%script sqlite3 --column --header chinook.db
SELECT
    SUM(ii.UnitPrice * ii.Quantity) AS TotalSales
FROM invoice_items ii
JOIN invoices i ON ii.InvoiceId = i.InvoiceId
WHERE i.InvoiceDate BETWEEN '2009-01-01' AND '2013-12-31'
LIMIT 10

TotalSales
----------------
2328.59999999996

#### AVG
SELECT AVG(numeric column)
FROM table;

In [43]:
#Average sales per genre
%%script sqlite3 --column --header chinook.db

SELECT AVG(UnitPrice) AS AveragePrice, GenreId
FROM tracks
GROUP BY GenreId
LIMIT 25;

AveragePrice       GenreId
-----------------  -------
0.990000000000008  1
0.989999999999998  2
0.990000000000005  3
0.990000000000005  4
0.99               5
0.989999999999999  6
0.990000000000007  7
0.990000000000001  8
0.99               9
0.99               10
0.99               11
0.99               12
0.989999999999999  13
0.990000000000001  14
0.989999999999999  15
0.989999999999999  16
0.99               17
1.99               18
1.99               19
1.99               20
1.99               21
1.99               22
0.99               23
0.99               24
0.99               25

#### COUNT

In [44]:
#Counts per genre, JOIN tables, Invoice_Items & Tracks & Genres, then group by genreid
%%script sqlite3 --column --header chinook.db

SELECT COUNT(*) AS Count, g.Name AS Genre
FROM Invoice_Items ii
JOIN Tracks t ON ii.TrackId = t.TrackId
JOIN Genres g ON t.GenreId = g.GenreId
GROUP BY g.GenreId
LIMIT 25;

Count  Genre
-----  ------------------
835    Rock
80     Jazz
264    Metal
244    Alternative & Punk
6      Rock And Roll
61     Blues
386    Latin
30     Reggae
28     Pop
20     Soundtrack
15     Bossa Nova
10     Easy Listening
12     Heavy Metal
41     R&B/Soul
12     Electronica/Dance
13     World
17     Hip Hop/Rap
6      Science Fiction
47     TV Shows
20     Sci Fi & Fantasy
29     Drama
9      Comedy
14     Alternative
41     Classical

## Make some plots

Make some cool plots to go with your data. Write SQL queries to get ONLY the information you need for each plot. (Don't pull ALL the data and then just plot a few columns.)

In [45]:
!pip install pandas matplotlib seaborn

from google.colab import files
uploaded = files.upload(chinook.db)

!pip install pandas matplotlib seaborn

from google.colab import files
uploaded = files.upload()

%%script sqlite3 --column --header chinook.db
SELECT COUNT(*) AS Count, g.Name AS Genre
FROM Invoice_Items ii
JOIN Tracks t ON ii.TrackId = t.TrackId
JOIN Genres g ON t.GenreId = g.GenreId
GROUP BY g.GenreId
LIMIT 25;

import pandas as pd

genre_counts = pd.read_csv('output.csv')
JOIN Genres g ON t.GenreId = g.GenreId
GROUP BY g.GenreId
LIMIT 25;

import pandas as pd

genre_counts = pd.read_csv('output.csv')

SyntaxError: invalid syntax (<ipython-input-45-28e055506793>, line 12)

In [46]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
plt.bar(sales_data['EmployeeName'], genre_counts['Genre Counts'], color='skyblue')
plt.title('Total Counts by Genre')
plt.xlabel('Genre')
plt.ylabel('Counts')
plt.xticks(rotation=45)
plt.show()

NameError: name 'sales_data' is not defined

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

-- Rewrite the SQL query from above and redirect output to a CSV file.
--Turn it into a Pandas DataFrame.
--Use Matplotlib or Seaborn.

## EXTRA CREDIT:
* Use a CTE
* Use a query that joins two or more tables.
* Make a model to see if you can predict something
* Come up with something else cool to do with your data

In [ ]:
#Can I query: do some employees sell more genres than others (their personal strength)?
#What JOINs can occur between tables with common features

In [ ]:
SELECT address.id, address.email_address, address.user_id
FROM address JOIN user_account ON user_account.id = address.user_id
WHERE user_account.name = ? AND address.email_address = ?
[...] ('sandy', 'sandy@sqlalchemy.org')

In [ ]:
# Select the first 10 entries from joining the artists and albums tables
%%script sqlite3 --column --header chinook.db
select *
from artists
join albums
on artists.ArtistID = albums.ArtistID
limit 10

In [ ]:
-- %%timeit
-- sum() #tells how long the process took